# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OnlineConcertTicketSales.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\AspNetCore\OnlineConcertTicketSales\OnlineConcertTicketSales\.idea\.idea.OnlineConcertTicketSales\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
